<div class="header-with-button">
    <app-back-button></app-back-button>
    <h1>{{card?.name}}</h1>
</div>

<mat-card>
    <mat-card-title>
        Описание
    </mat-card-title>
    <mat-card-content>
        {{card?.description}}
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-title>
        Задачи
    </mat-card-title>
    <mat-card-content class="tasks-list">
        <app-task
                *ngFor="let task of card?.tasks"
                [task]="task"
                (onDelete)="onDeleteTask($event)"
        >
        </app-task>
    </mat-card-content>
</mat-card>
