<div class="header-with-button">
    <app-back-button></app-back-button>
    <h1>{{card?.name}}</h1>
</div>

<mat-card>
    <mat-card-title>
        Описание
    </mat-card-title>
    <mat-card-content>
        {{card?.description}}
    </mat-card-content>
</mat-card>

<div *ngIf="!hasTasks()" class="btn-add-task">
    <button mat-button (click)="createTask()">
        <mat-icon>add</mat-icon>
        Добавить задачу
    </button>
</div>

<mat-card *ngIf="hasTasks()">
    <mat-card-title>
        Задачи
    </mat-card-title>
    <mat-card-content class="tasks-list">
        <div *ngIf="hasTasks()" class="btn-add-task-list">
            <button mat-button (click)="createTask()">
                <mat-icon>add</mat-icon>
                Добавить задачу
            </button>
        </div>
        <app-task
                *ngFor="let task of card?.tasks"
                [task]="task"
                (onDelete)="onDeleteTask($event)"
        >
        </app-task>
    </mat-card-content>
</mat-card>
