<div class="header-with-button">
    <app-back-button></app-back-button>
    <h1>{{board && board.name ? board.name : 'Новая доска..'}}</h1>
</div>

<div class="column-row" *ngIf="board && board.columns">
    <app-column
            *ngFor="let column of getSortedColumns()"
            [column]="column"
            [dashboardId]="boardId"
    >
    </app-column>
    <div class="btn-add-column">
        <button mat-icon-button (click)="createColumn()" matTooltip="Добавить колонку">
            <mat-icon>add</mat-icon>
        </button>
    </div>
</div>
