.task-row {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    width: 250px;
}

.btn-delete {
    margin-left: auto;
    align-self: flex-end;
    color: #353535;
}

.btn-delete :hover {
    color: #f44336;
    transition: color 0.2s ease-out;
}
