.board-column {
    height: 100%;
}

.edit-name {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

.btn-add-card {
    display: flex;
    justify-content: center;
}

.btn-drag-handler {
    position: absolute;
    z-index: 1;
    width: 24px;
    height: 24px;
}

.column {
    min-width: 250px;
    max-width: 350px;
}

mat-card-title {
    text-align: center;
}
